<div class="box-list">
  <a class="box">
    <img id="connectToServer" class="icon" src="assets/images/connect_to_server.svg"/>
    <p class="title">Connect to a server</p>
  </a>
  <a class="box">
    <img class="icon" src="assets/images/server_list.svg"/>
    <p class="title">Server List</p>
  </a>
  <a class="box" routerLink="/settings">
    <img class="icon" src="assets/images/settings.svg"/>
    <p class="title">Settings</p>
  </a>
</div>
<div class="server-list">
  <div class="server">
    <img class="icon" src="assets/images/server_list.svg">
    <p class="address">5.153.7.174</p>
  </div>
  <div class="server">
    <img class="icon" src="assets/images/server_list.svg">
    <p class="address">5.153.7.174</p>
  </div>
  <div class="server">
    <img class="icon" src="assets/images/server_list.svg">
    <p class="address">5.153.7.174</p>
  </div>
  <div class="server">
    <img class="icon" src="assets/images/server_list.svg">
    <p class="address">5.153.7.174</p>
  </div>
</div>
