body {
    margin: 0;
    padding: 0;
    background-color: #FAFBFC;
    overflow: hidden;
}


#headerBackground {
    width: 100%;
    height: 28%;
    background: linear-gradient(180deg, #3498DB, #2980B9);
    display: flex;
    align-items: center;
    justify-content: center
}

.svg-logo {
    height: 40%;
    width: 100%;
}

.box-list {
    margin-top: 5%;
    width: 100%;
    height: 40%;
    justify-content: center;
    display: flex;
}

.box {
    width: 20%;
    background-color: #FFFFFF;
    border-radius: 1em;
    display: inline-block;
    margin-left: 2.1%;
    margin-right: 2.1%;
    box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
}

.box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.box .icon {
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}


.box .title {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}


.server-list {
    margin-top: 5%;
    width: 72%;
    margin-left: 14%;
    height: 10%;
    justify-content: space-around;
    display: flex;
}

.server {
    width: 20%;
    height: 40%;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
}

.server .icon {
    width: 20%;
    height: 80%;
    margin-top: 1%;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    display: inline-block;
}

.server .address {
    width: 72%;
    margin: 0px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -7px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}