<div class="split">
  <div class="file-box">
    <div class="header">
      <span class="name">Local</span>
      <input type="text" class="filepath" value="E:\Filely">
    </div>
    <div class="files">
      <table>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Size</th>
            <th>Last change</th>
            <th>Action</th>
          </tr>
        </thead>
        <div class="divider"></div>
        <tbody>
          <tr>
            <td><i class="fa fa-fw fa-folder icon-folder"></i></td>
            <td>...</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><i class="fa fa-fw fa-folder icon-folder"></i></td>
            <td>.idea</td>
            <td></td>
            <td>26.08.2019 15:20</td>
            <td class="actions"><i class="fa fa-edit icon-edit"></i><i class="fa fa-trash icon-remove"></i></td>
          </tr>
          <tr>
            <td><i class="fa fa-fw fa-file icon-file"></i></td>
            <td>.gitignore</td>
            <td>1 KB</td>
            <td>21.08.2019 15:45</td>
            <td class="actions"><i class="fa fa-edit icon-edit"></i><i class="fa fa-trash icon-remove"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="file-box">
    <div class="header accent">
      <span class="name">Remote</span>
      <input type="text" class="filepath" value="/home/filely">
    </div>
    <div class="files">
      <table>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Size</th>
            <th>Last change</th>
            <th>Action</th>
          </tr>
        </thead>
        <div class="divider"></div>
        <tbody>
          <tr>
            <td><i class="fa fa-fw fa-folder icon-folder"></i></td>
            <td>...</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><i class="fa fa-fw fa-folder icon-folder"></i></td>
            <td>.idea</td>
            <td></td>
            <td>26.08.2019 15:20</td>
            <td class="actions"><i class="fa fa-edit icon-edit"></i><i class="fa fa-trash icon-remove"></i></td>
          </tr>
          <tr>
            <td><i class="fa fa-fw fa-file icon-file"></i></td>
            <td>.gitignore</td>
            <td>1 KB</td>
            <td>21.08.2019 15:45</td>
            <td class="actions"><i class="fa fa-edit icon-edit"></i><i class="fa fa-trash icon-remove"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
