<div class="protocols">
  <div class="protocol">
    <img src="assets/images/protocols/sftp.svg">
  </div>
  <div class="protocol">
    <img src="assets/images/protocols/ftp.svg">
  </div>
  <div class="protocol">
    <img src="assets/images/protocols/ssh.svg">
  </div>
  <div class="protocol">
    <img src="assets/images/protocols/vnc.svg">
  </div>
  <div class="protocol">
    <img src="assets/images/protocols/rdp.svg">
  </div>
</div>

<div class="connect">
  <div class="input">
    <label for="ipaddress">IP Address</label>
    <input type="text" name="ipaddress" id="ipaddress">
  </div>
  <div class="input">
    <label for="port">Port</label>
    <input type="text" name="port" id="port" value="22">
  </div>
  <div class="tab-box">
    <div class="tabs">
      <div class="tab">
        Authentication
      </div>
      <div class="tab" (click)="passwdClick($event);" [ngClass]="pw ? 'active' : ''">
        Password
      </div>
      <div class="tab" (click)="keyClick($event);" [ngClass]="key ? 'active' : ''">
        Public Key
      </div>
      <div class="tab" (click)="u2fClick($event);" [ngClass]="u2f ? 'active' : ''">
        U2F
      </div>
    </div>
    <div class="content">
      <div class="input">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
    </div>
  </div>
  <button (click)="connect($event)">Connect</button>
</div>
